
.icon-unknown {
	background-image:		url(/img/unknown.png) !important;
}
.icon-doc {
	background-image:		url(/img/doc.png) !important;
}
.icon-docx {
	background-image:		url(/img/docx.png) !important;
}
.icon-pdf {
	background-image:		url(/img/pdf.png) !important;
}
.icon-ppt {
	background-image:		url(/img/ppt.png) !important;
}
.icon-pptx {
	background-image:		url(/img/pptx.png) !important;
}
.icon-xls {
	background-image:		url(/img/xls.png) !important;
}
.icon-xlsx {
	background-image:		url(/img/xlsx.png) !important;
}

.icon-search {
	background-image:		url(/img/search.png) !important;
}

.icon-login {
	background-image:		url(/img/login.png) !important;
}
.icon-forgot-password {
	background-image:		url(/img/forgotpw.png) !important;
}

.icon-timesheet-save {
	background-image:		url(/img/timesheet_save.png) !important;
}
.icon-timesheet-complete {
	background-image:		url(/img/timesheet_complete.png) !important;
}
.icon-timesheet-fix {
	background-image:		url(/img/timesheet_fix.png) !important;
}
.icon-timesheet-export {
	background-image:		url(/img/timesheet_export.png) !important;
}
.icon-timesheet-approve {
	background-image:		url(/img/timesheet_approve.png) !important;
}
.icon-timesheet-disapprove {
	background-image:		url(/img/timesheet_disapprove.png) !important;
}
.icon-timesheet-verify {
	background-image:		url(/img/timesheet_verify.png) !important;
}
.icon-timesheet-unverify {
	background-image:		url(/img/timesheet_unverify.png) !important;
}
.icon-timesheet-view {
	background-image:		url(/img/timesheet_view.png) !important;
}
.icon-timesheet-edit {
	background-image:		url(/img/timesheet_edit.png) !important;
}
.icon-timesheet-auditlog {
	background-image:		url(/img/timesheet_auditlog.png) !important;
}

.icon-employees {
	background-image:		url(/img/employees.png) !important;
}
.icon-employee-add {
	background-image:		url(/img/employee_add.png) !important;
}
.icon-employee-delete {
	background-image:		url(/img/employee_delete.png) !important;
}
.icon-employee-edit {
	background-image:		url(/img/employee_edit.png) !important;
}
.icon-employee-go {
	background-image:		url(/img/employee_go.png) !important;
}

.icon-supervisor-add {
	background-image:		url(/img/supervisor_add.png) !important;
}
.icon-supervisor-delete {
	background-image:		url(/img/supervisor_delete.png) !important;
}

.icon-tasks {
	background-image:		url(/img/tasks.png) !important;
}
.icon-task-add {
	background-image:		url(/img/task_add.png) !important;
}
.icon-task-delete {
	background-image:		url(/img/task_delete.png) !important;
}
.icon-task-edit {
	background-image:		url(/img/task_edit.png) !important;
}
.icon-task-go {
	background-image:		url(/img/task_go.png) !important;
}

.icon-assignments {
	background-image:		url(/img/assignments.png) !important;
}
.icon-assignment-add {
	background-image:		url(/img/assignment_add.png) !important;
}
.icon-assignment-delete {
	background-image:		url(/img/assignment_delete.png) !important;
}
.icon-assignment-edit {
	background-image:		url(/img/assignment_edit.png) !important;
}
.icon-assignment-go {
	background-image:		url(/img/assignment_go.png) !important;
}

.icon-holidays {
	background-image:		url(/img/holidays.png) !important;
}
.icon-holiday-add {
	background-image:		url(/img/holiday_add.png) !important;
}
.icon-holiday-delete {
	background-image:		url(/img/holiday_delete.png) !important;
}
.icon-holiday-go {
	background-image:		url(/img/holiday_go.png) !important;
}

