
html, body {
 background-color:white;
 color:#101010;
 font-family:'Trebuchet MS', Verdana, sans-serif;
 font-size:11pt;
 margin:0px;
 padding:0px;
}

#header-container {
 background-color:#cbddf3;
 border:1px solid #99bce8;
 height:60px;
 left:0px;
 position:fixed;
 top:0px;
 width:100%;
}

#header-container #header {
 line-height:60px;
 text-align:left;
 margin:0px auto;
 width:940px;
}

#header-container #header #header-logo {
 float:left;
 line-height:60px;
 margin:0px auto;
 text-align:left;
 width:300px;
}

#header-container #header #header-logo img {
 height:60px;
}

#header-container #header #header-navigation {
 float:right;
 font-size:12pt;
 line-height:60px;
 margin:0px auto;
 text-align:right;
 width:640px;
}

#header-container #header #header-navigation li {
 display:inline;
 list-style-type:none;
 padding-left:30px;
}
#header-container #header #header-navigation a {
 color:blue;
 text-decoration:none;
}
#header-container #header #header-navigation a:hover {
 text-decoration:underline;
}
 
#container {
 margin:0px auto;
 overflow:auto;
 padding:70px 0px 40px 0px;
 width:100%;
}

#container-maxwidth {
 margin:0px auto;
 overflow:auto;
 padding:70px 0px 40px 0px;
 width:940px;
}
 
#footer-container {
 background-color:#cbddf3;
 border:1px solid #99bce8;
 bottom:0px;
 height:30px;
 left:0px;
 position:fixed;
 width:100%;
}

#footer-container #footer {
 font-size:12pt;
 line-height:30px;
 margin:0px auto;
 width:940px;
 text-align:left;
}

#footer-container #footer #footer-copyright {
 float:left;
 line-height:30px;
 width:460px;
 text-align:left;
}

#footer-container #footer #footer-legal {
 float:right;
 line-height:30px;
 width:480px;
 text-align:right;
}

#footer-container #footer #footer-legal li {
 display:inline;
 list-style-type:none;
 padding-left:30px;
}

#footer-container #footer #footer-legal a {
 color:blue;
 text-decoration:none;
}
#footer-container #footer #footer-legal a:hover {
 text-decoration:underline;
}

#login-table {
 border-collapse:collapse;
 margin:0px auto;
}

#profile-table {
 border-collapse:collapse;
 margin:0px auto;
}

